.cabecalho{
    display: flex;
    justify-content: space-between;
    align-items:  center;
}

.cabecalho-titulo{
    color: black;
    font-weight: 800;
}

.cabecalho-menu{
    display: block;
    unicode-bidi: isolate;
}

.cabecalho-menu-item{
    text-decoration: none;
    color: green;
    margin: 0 15px;
    font-weight: 600;
    transition: color 0.2s;
}

.cabecalho-menu-botao{
    background-color: black;
    color: #fff;
    border: none;
    padding: 8px 16px;
    border-radius: 20px;
    cursor: pointer;
    font-weight: 600;
    font-size: 0.9rem;
    transition: transform 0.2s;
}